body {
  background-image: url("../img/piano.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}
.header {
  background-color: rgba(0, 0, 0, 0);
}

.main [class*="col-"]{
  margin-top: 150px;
  margin-left: 2%;
  background-color: rgba(250, 250, 250, 0.75);
}

p {
  font-size: 25px;
}

.first {
  margin-left: 0;
}

.space {
  background-color: rgba(0, 0, 0, 0);
}
